<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <meta name="theme-color" content="#f5f5f5" />

    <title>Soulution</title>

    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/mental-health-03.png" />
    <link rel="icon" href="./icons/mental-health-03.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="app-bar__navigation">
        <button id="hamburgerButton" class="burger">&#9776;</button>
        <a href="#/home" class="app-bar__brand"><h1>Soulution</h1></a>
        <ul id="navigationDrawer">
          <li><a href="#/home" class="menu-item">Home</a></li>
          <li><a href="#/check" class="menu-item">Check</a></li>
          <li><a href="#/tips" class="menu-item">Tips</a></li>
          <li><a href="#/forum" class="menu-item">Forum</a></li>
          <li><a href="#/contact-us" class="menu-item">Contact Us</a></li>
          <li>
            <a href="#/profile" class="menu-item">
              <i class="fa fa-user"></i>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="mainContent"></main>
    <p class="text-bg-danger"></p>
    <footer>
      <div class="app-footer">
        <p>Capstone MSIB X Dicoding Indonesia</p>
      </div>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const menuItems = document.querySelectorAll('.menu-item');
        const currentURL = window.location.hash;

        // Fungsi untuk menangani klik pada menu item
        function handleMenuItemClick(menuItem) {
          menuItems.forEach(function (item) {
            item.classList.remove('active');
          });

          menuItem.classList.add('active');
          localStorage.setItem('activePage', menuItem.getAttribute('href'));
        }

        // Atur menu item aktif saat DOM dimuat
        if (currentURL) {
          const activeMenuItem = document.querySelector(`.menu-item[href="${currentURL}"]`);
          if (activeMenuItem) {
            activeMenuItem.classList.add('active');
          }
        }

        // Tambahkan event listener untuk setiap menu item
        menuItems.forEach(function (menuItem) {
          menuItem.addEventListener('click', function () {
            handleMenuItemClick(menuItem);
          });
        });
      });
    </script>
  </body>
</html>
