<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <link rel="icon" href="./favicon.png" />

    <title>Soulution</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <a href="#/landing-page"><h1>Soulution</h1></a>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/check">Check</a></li>
          <li><a href="#/tips">Tips</a></li>
          <li><a href="#/forum">Forum</a></li>
          <li><a href="#/contact-us">Contact Us</a></li>
          <li>
            <a href="#" data-toggle="modal" data-target="#profileModal">
              <i class="fa fa-user"></i>
            </a>
        </ul>
      </nav>
    </header>

    <main id="mainContent"></main>
    <p class="text-bg-danger"></p>
    <footer>
      <div class="app-footer">
        <p>Capstone MSIB X Dicoding Indonesia</p>
      </div>
    </footer>

    
    






  </body>
  
</html>
