.hasil-up{
    height: 130px;
    background-color: #4299A5;
    text-align: center;
}
.hasil-up h2{
    padding: 3rem;
    color: white;
}
.img-section{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
}
.img-hasil img{
    width: 400px;
}
.hasil-desk{
    color: #4299A5;
    text-align: center;
}
.deskripsi-stress{
    color: black;
    width: 80%;
    text-align: center;
}
.desk-stress{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.linked-hasil{
    text-decoration: none;
    color: #4299A5;
}