#landing-page{
  padding: 12px;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.jumbotron {
    min-height: 60vh;
    display: flex;
    background-color: #ffffff;
  }

  .jumbotron .row {
    display: flex;
    align-items: center;
  }
  .jumbotron .row h1{
    font-weight: 800;
    color: #4299A5;
  }
  .banner {
    background-color: #4299A5;
    color: #ffffff;
    min-height: 30vh;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    margin: 5vh auto;
  }

  .feature {
    display: flex;
    flex-direction: column;
  }

  .card {
    /*width: 100%;*/ 
    max-width: 20rem; 
    margin: 0 auto; 
  }

  .card img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .banner .container {
    z-index: 1;
  }
  .banner .row {
    display: flex;
    align-items: center;
  }
  .banner img {
    width: 40vh;
    border-radius: 8px; 
    max-width: 100%; 
  }

  .route-banner {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .route-banner h3 {
    color: #4299A5;
    font-size: 1.5em;
  }

  .jumbotron .btn-primary{
    width: 50%;
    color: white;
    background-color: #4299A5;
    border: none; 
    margin: 0 auto;
  }
  .jumbotron .btn-primary:hover{
    color: white;
    background-color: #2f717a;
  }

  @media screen and (max-width: 425px) {
    h2.display-4 {
      font-size: 1.3em;
    }
    h3.display-4 {
      font-size: 1em;
    }
    .route-banner .btn-primary{
      width: 80%;
    }
  }
  
  @media screen and (max-width: 769px) {
    .banner .row{
      /*justify-items: center;
      justify-content: center;*/
      flex-direction: column;
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    .feature .container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  @media screen and (max-width: 767px) {
    .feature .col-md-4 {
      margin-bottom: 1rem;
    }
  }

  /*responsive biar ga dempet samping nya, tapi belum fix*/
  @media screen and (min-width: 768px) {
    .feature .row {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: 768px) {
    .feature .col-md-4 {
      margin-bottom: 0;
    }
  }
  
  

  