#landing-page{
  padding: 12px;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.jumbotron {
    min-height: 60vh;
    display: flex;
    background-color: #ffffff;
  }

  .jumbotron .row {
    display: flex;
    align-items: center;
  }
  .jumbotron .row h1{
    font-weight: 800;
    color: #4299A5;
  }
  .banner {
    background-color: #4299A5;
    color: #ffffff;
    min-height: 30vh;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    margin: 5vh;
  }
  .banner .container {
    z-index: 1;
  }
  .banner .row {
    display: flex;
    align-items: center;
  }
  .banner img {
    width: 40vh;
    border-radius: 8px; 
    max-width: 100%; 
  }

  .route-banner {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .route-banner h3 {
    color: #4299A5;
    font-size: xx-large;
  }

  .jumbotron .btn-primary{
    width: 50%;
    color: white;
    background-color: #4299A5;
    border: none; 
    margin: 0 auto;
  }
  .jumbotron .btn-primary:hover{
    color: white;
    background-color: #2f717a;
  }

  @media screen and (max-width: 425px) {
    h2.display-4 {
      font-size: 1.3em;
    }
    h3.display-4 {
      font-size: 1em;
    }
    .route-banner .btn-primary{
      width: 80%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .banner .row{
      justify-items: center;
      justify-content: center;
    }
  }
  