.login-container {
    width: 100%;
    display: flex;
    padding-left: 5rem;
  }

  /* Styling for the input container */
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4299A5;
  }

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

  .input-container h2{
    background-color: #4299A5;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .input-label {
    padding: 10px;
    margin-top: 5px ; 
    border: 1px solid #4299A5;
    border-radius: 5px;
    font-size: 16px;
    width: 540px;
    height: 40px;
  }
  

  .register-text {
    padding: 10px;
    background-color: #4299A5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 540px;
    height: 40px;
    margin-top: 5px;
  }
  .register-text:hover {
    background-color: #2d656d; 
  }
  
  
  .tombol-arah {
    font-size: 16px; /* Sesuaikan ukuran font sesuai kebutuhan */
    cursor: pointer;
    color:#4299A5;
    font-weight: bold;
    text-decoration: none;
  }
  
  
  .container_img{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .loader {
    width: 80px;
    height: 50px;
    position: relative;
    margin: 10px;
  }
  
  .loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #2d656d;
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
  }
  
  .load {
    background-color: #4299A5;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
  }
  
  .load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #2d656d;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
  }
  
  @keyframes text_713 {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  
    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }
  
    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }
  
    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }
  
    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
  
    40% {
      width: 100%;
      transform: translateX(0px);
    }
  
    80% {
      width: 16px;
      transform: translateX(64px);
    }
  
    90% {
      width: 100%;
      transform: translateX(0px);
    }
  
    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
  
    40% {
      transform: translateX(0%);
      width: 80%;
    }
  
    80% {
      width: 100%;
      transform: translateX(0px);
    }
  
    90% {
      width: 80%;
      transform: translateX(15px);
    }
  
    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }
   
   
  
  

  @media screen and (max-width: 600px) {

  
    .input-container {
      margin-top: 15px;
    }
  
    .input-container h1 {
      margin-top: 0;
      padding: 10px;
    }
    .gambar {
      float: none;
      width: 100%;
      max-width: 100%;
      height: auto; /* Memastikan tinggi gambar disesuaikan dengan lebar sesuai rasio aslinya */
    display: block;
    }
  
    .keterangan {
      margin-top: 10px;
    }
    .input-label {
      width: 100%; /* Mengubah lebar menjadi 100% pada layar dengan lebar maksimum 600px */
      max-width: 540px; /* Batasi lebar maksimum pada layar kecil agar tidak terlalu melebar */
    }
  .register-button{
    width: 100%;
    max-width: 540px;
    margin-bottom: 10px;
  }

  }
 