.login-container {
  padding: 12px;
  display: flex;
  align-items: center;
}

/* Styling for the input container */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4299a5;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container h2 {
  background-color: #4299a5;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.input-label {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #4299a5;
  border-radius: 5px;
  font-size: 16px;
  width: 450px;
  height: 40px;
}

.register-text {
  padding: 10px;
  background-color: #4299a5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 450px;
  height: 40px;
  margin-top: 10px;
}
.register-text:hover {
  background-color: #2d656d;
}

.tombol-arah {
  font-size: 16px; /* Sesuaikan ukuran font sesuai kebutuhan */
  cursor: pointer;
  color: #4299a5;
  font-weight: bold;
  text-decoration: none;
}

.container_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_img img {
  width: 50%;
  height: auto;
}

.loader {
  width: 80px;
  height: 50px;
  position: relative;
  margin: 10px;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #2d656d;
  animation: text_713 3.5s ease both infinite;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #4299a5;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2d656d;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

@media screen and (max-width: 900px) {
  .login-container {
    padding-left: 1rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .input-label,
  .register-text {
    width: 400px;
    max-width: 400px;
  }

  .gambar {
    width: 70%;
    max-width: none;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .login-container {
    padding-left: 1rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .input-label,
  .register-text {
    width: 300px;
    max-width: 300px;
  }

  .gambar {
    width: 100%;
    max-width: none;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 901px) and (max-width: 1280px) {
  .login-container {
    padding-left: 1rem;
    flex-direction: row;
    align-items: center;
    margin-top: -200px;
    margin-bottom: -190px;
    margin-left: 150px;
  }
  .input-container {
    padding-top: 200px;
  }
  .container_img img {
    width: 70%;
    height: auto;
  }
}
