@media only screen and (min-width: 425px) and (max-width: 799px) {
  .app-bar .app-bar__navigation ul li a::after {
    visibility: hidden;
    display: none;
  }
  .app-bar .app-bar__navigation ul li a:hover::after {
    visibility: hidden;
    display: none;
  }

.app-bar .app-bar__brand h1{
    text-align: center;
    margin-bottom: 0px;
  }

  .app-bar .app-bar__menu button {
    margin-top: 0px;
    padding: 0px;
    padding-right: 0px;
    padding-left: 20px;
    width: 50%;
  }

  .app-bar {
    padding: 8px 5px;
  }
  
}

@media screen and (min-width: 800px) {
    .app-bar {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
    }
   
    .app-bar .app-bar__brand h1 {
      font-size: 1.5em;
    }
   
    .app-bar .app-bar__menu {
      display: none;
    }
   
    .app-bar .app-bar__navigation {
      position: static;
      width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
      display: inline-block;
    }
   
    .app-bar .app-bar__navigation ul li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 0;
    }
   
  @media screen and (min-width: 800px) {
    .app-bar .app-bar__brand h1 {
      font-size: 2em;
    }
  }
   


  @media screen and (min-width: 850px) {
    
  }
   
  @media screen and (min-width: 1200px) {
    
  }
   
  @media screen and (min-width: 1600px) {
  }
}