@media screen and (max-width: 768px) {
  .app-bar__brand h1 {
    font-size: 26px;
  }

  .app-bar__navigation {
    justify-content: left;
  }

  .app-bar__navigation ul {
    display: inline-block;
    position: absolute;
    background-color: #f5f5f5;
    width: 100%;
    top: 82px;
    left: 0;
    padding: 1rem;
    transform: translateX(-100%);
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }

  .app-bar__navigation ul.open {
    transform: translateX(0%);
  }

  .burger {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .app-bar__navigation {
    padding: 0 2rem;
  }
}
