.tipsTagLine-hero {
  width: 100%;
  height: 350px;
  background-image: url('../public/images/heros/tipsHero.png');
  background-size: cover;
  background-position: 0rem;
  border-radius: 10px;
  font-size: 64px;
  padding: 5rem 0 0 5rem;
  text-shadow: 0px 0px 2px #ffffff;
}

#shortTipsList {
  width: 100%;
  padding: 1rem 5rem 3rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#longTipsList {
  width: 100%;
  padding: 1rem 5rem 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.tips-card {
  background-color: #f5f5f5;
  border: 1px solid #4fc0d0;
  border-radius: 21px;
  padding: 1rem;
}

.tips-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  filter: blur(1px);
}

.tips-card img:hover {
  filter: blur(0);
}

.tips-info {
  padding: 1rem 1rem 0 1rem;
}

.tips-info p {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.load-more button {
  width: 200px;
  height: 45px;
  background-color: #4299a5;
  border-radius: 10px;
  border: none;
  color: #f5f5f5;
  font-weight: 600;
  box-shadow: 0px 0px 3px #1b4146;
}

.load-more button:hover {
  font-weight: bolder;
  font-size: 20px;
  box-shadow: none;
}
